In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Data Types in Python

In [4]:
3print(8*7+3/2-4)
#works according to PEMDAS rule (paranthesis, exponent, multiply, divide, add, subtract)
#operation: 2+3 
#operand: 2,3
#operator: +, -, *, / etc.

53.5

In [39]:
a=7 #saved somewhere in memory, so we can use it later too
b=7 #does b=a as they are same by creating a shallow copy
c=8
print(a)
print(b)

7
7

In [40]:
print(id(a)) #id to view adress
print(id(b))
print(id(c))

140708247081984
140708247081984
140708247082016

In [12]:
'''
deep copy: content copy (slow)
shallow copy: adress copy also called copy by reference (fast)
'''

'\ndeep copy: content copy (slow)\nshallow copy: adress copy also called copy by reference (fast)\n'

In [14]:
a=7
type(a) #to view type of a, passed by reference i.e. a

int

In [15]:
b=20.7
type(b)

float

In [16]:
c= True
type(c)

bool

In [17]:
a="99"
type(a)

str

In [18]:
a="""pakistan 1947""" #multiple line string
type(a)

str

In [23]:
#lists start from index 0
#index  0   1       2     3     4
name = [1, "ishra", "AI", True, 45] #array size is fix
#index  -5   -4     -3     -2    -1
type(name)

#homogenous means all elemnsts datatypes are same e.g array
#heterogenous means different types can be stored  e.g. list
#be a interprator to be a good programmer

list

In [24]:
print(name[-4])

ishra

In [22]:
#index  0   1       2     3     4
name = (1, "ishra", "AI", True, 45) #tuple cannot be changed, index remains fix
#index  -5   -4     -3     -2    -1
type(name)

tuple

In [28]:
name= {"ISHRA", "BUSHRA", "SARA", "ISHRA"}  #set will eliminate repeated values
print(name)
type(name)

{'SARA', 'BUSHRA', 'ISHRA'}

set

In [30]:
#type casting: converting from one type to another
name=list(name) #set converted to list
print(name[2])

ISHRA

In [31]:
type(name)

list

In [44]:
# dictionary, pass it key (stored as string) and value, seperator is comma , and associate it with value we use colon :
# any hashable function can be used as key
#also eliminate duplicate keys (keys with same name)
data = {"name": "Ishra Hussain", "father_name":"Abdul Hussain", "age":23, "list": [2,3,"45"]}
#to print we pass key
data["father_name"]

'Abdul Hussain'

In [33]:
type(data)

dict

In [34]:
data["age"]

23

In [45]:
print(data)

{'name': 'Ishra Hussain', 'father_name': 'Abdul Hussain', 'age': 23, 'list': [2, 3, '45']}

In [46]:
list(data) #pass keys to list

['name', 'father_name', 'age', 'list']

# Basic Operation with String Data

In [48]:
name1="Ishra Hussin"
name2="ishra hussain"
print(name1==name2) 
print(name1, name2, sep="\n") #go to function bracket and type shift+tab gives help

False
Ishra Hussin
ishra hussain

In [57]:
# operation is in memory and in line
#in memory means change in memory (permanent change) by going to physical memory
#in line means only in this line dont change physical memory
dir(name1) #to see its methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [55]:
name1="Ishra Hussain"
print(name1.upper()) #in line operation

ISHRA HUSSAIN

In [58]:
name1="Ishra Hussain"
name1=name1.upper() #in memory operation
del name2 # delete name 2
print(name1)

ISHRA HUSSAIN

In [67]:
name1="  Ishra Hussain  "
print(name1.title())
print(len(name1)) #total length including spaces
print(name1.lstrip())
print(len(name1.lstrip())) #remove spaces on left
print(len(name1.rstrip())) #remove spaces on right
print(len(name1.strip())) # remove spaces both right left
print(name1.split())
print(name1.swapcase())

  Ishra Hussain
17
Ishra Hussain
15
15
13
['Ishra', 'Hussain']
  iSHRA hUSSAIN

In [74]:
patriotism= "I am Pakistani and I love Pakistan"
print(patriotism.find("Pakistan"))
patriotism.find("Pakistan", 20)

5

26

In [72]:
"""
list tuple string as can have slicing
while slicing
start is included
end is not included
step: how many steps we ant to move
"""
patriotism[23:31:1] #end is not included, [start:end:step], step is 1 by default if not defined

'Pakistan'

In [76]:
#slices work word by word
#so we will use split function
words=patriotism.split()
print(words)

['I', 'am', 'Pakistani', 'and', 'I', 'love', 'Pakistan']

In [78]:
words.count("Pakistan")

1

In [79]:
patriotism.casefold()

'i am pakistani and i love pakistan'

In [83]:
card="""
name: Ishra Hussain
father: Abdul Hussain
program: PIAIC
"""
print(card)

name: Ishra Hussain
father: Abdul Hussain
program: PIAIC

## Concatenation in Strings

In [91]:

name="Ishra Hussain"
fname="Abdul Hussain"
program= "PIAIC"
print(" Student Name: %s \n Father's Name: %s \n Program: %s \n"%(name, fname, program)) #one way of concatenation

 Student Name: Ishra Hussain
 Father's Name: Abdul Hussain
 Program: PIAIC

In [92]:
print(" Student Name: %s \n Father's Name: %s \n \
Program: %s \n"%(name, fname, program)) #backslash for writing code to multiple line

 Student Name: Ishra Hussain
 Father's Name: Abdul Hussain
 Program: PIAIC

In [95]:
print(" Student Name: " + name + "\n Father Name: " + fname + "\n Program: " + program)  #another way of concatenation

 Student Name: Ishra Hussain
 Father Name: Abdul Hussain
 Program: PIAIC

In [99]:
print(f' Student Name: {name} \n \
Father Name: {fname} \n \
Program: {program}')

 Student Name: Ishra Hussain
 Father Name: Abdul Hussain
 Program: PIAIC

In [106]:
"1"+"1" #defined as string

'11'

In [101]:
int("1")+ int("1")

2

In [105]:
a=200
print("Pakistan score: "+ str(a))

Pakistan score: 200

In [113]:
print(" Name: {} \n Father Name: {}".format(name, fname))

 Name: Ishra Hussain
 Father Name: Abdul Hussain

In [114]:
print(" Name: {0} \n Father Name: {1}".format(name, fname))

 Name: Ishra Hussain
 Father Name: Abdul Hussain

In [115]:
print(" Name: {n} \n Father Name: {fn}".format(n=name, fn=fname))

 Name: Ishra Hussain
 Father Name: Abdul Hussain

In [119]:
a=input()  # to take input from user
print(a)

209
209